main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    height: 22px;
    margin: auto;
}

button {
    cursor: pointer;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
}

tr,
td {
    border: 1px solid black;
    padding: 10px;
    font-size: larger;
    font-weight: bold;
}

.error {
    width: 50%;
    height: auto;
    margin: 20px auto;
    text-align: center;
    font-size: 22px;
}